/*..............*/

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 1705px;
    padding: 0;
    margin: 0;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    display: flex;
    width: 100%;
    height: 62px;
    font-family: 'Shrikhand', cursive;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.fa-arrow-left {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: large;
    color: black;
}

h2 {
    display: flex;
    font-size: 26px;
}

main {
    display: flex;
    width: 100%;
    height: 1430px;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.restaurant-image {
    display: flex;
    width: 100%;
    height: 260px;
    overflow-x: hidden;
}

.img {
    display: flex;
    object-fit: cover;
}

.restaurant-menu {
    display: flex;
    position: relative;
    background-color: rgb(246, 246, 246);
    width: 100%;
    height: 1020px;
    flex-direction: column;
    margin-top: -40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-left: 4%;
    padding-right: 4%;
    justify-content: space-between;
}

.restaurant-title {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-left: 5px;
}

.restaurant-name {
    display: flex;
    font-family: 'Shrikhand', cursive;
    font-size: 26px;
}

.restaurant-heart {
    display: flex;
    font-size: 26px;
    padding: 20px;
}

.menu-container {
    display: flex;
    height: 960px;
    width: 100%;
    flex-direction: column;
}

article {
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: column;
    justify-content: space-between;
}

.menu-step-title {
    display: flex;
    font-weight: lighter;
    font-size: 16px;
    margin-block-end: 0;
}

.dish-container {
    display: flex;
    width: 100%;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    align-items: flex-end;
    padding-bottom: 15px;
    padding-top: 10px;
    box-shadow: 5px 5px 10px rgb(232 232 232);
}

.dish-text {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding-left: 10px;
}

.dish-title {
    display: flex;
    margin: 0;
}

.dish-subtitle {
    display: flex;
    font-size: 14px;
}

.dish-price {
    display: flex;
    font-weight: bold;
    padding-right: 20px;
}

.restaurant-calltoaction {
    display: flex;
    width: 100%;
    height: 147px;
    background-color: bisque;
}

footer {
    display: flex;
    height: 210px;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 5px;
    background-color: rgb(53, 53, 53);
    text-decoration: none;
}

.footer-title {
    font-family: 'Shrikhand', cursive;
    color: white;
}

.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 80%;
}

li {
    display: flex;
    flex-direction: row;
}

.footer-text {
    display: flex;
    margin: 0;
    padding-left: 10px;
}

.footer-link {
    text-decoration: none;
    color: white;
}