/*..............*/

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 1705px;
    padding: 0;
    margin: 0;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    display: flex;
    width: 100%;
    height: 62px;
    font-family: 'Shrikhand', cursive;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.fa-arrow-left {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: large;
    color: black;
}

h2 {
    display: flex;
    font-size: 26px;
}

main {
    display: flex;
    width: 100%;
    height: 1430px;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.restaurant-image {
    display: flex;
    width: 100%;
    height: 260px;
    overflow-x: hidden;
}

.img {
    display: flex;
    object-fit: cover;
}

.restaurant-menu {
    display: flex;
    position: relative;
    background-color: rgb(246, 246, 246);
    width: 100%;
    height: 1020px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-left: 3%;
    padding-right: 3%;
}

.restaurant-title {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-left: 5px;
}

.restaurant-name {
    display: flex;
    font-family: 'Shrikhand', cursive;
    font-size: 26px;
}

.restaurant-heart {
    display: flex;
    font-size: 26px;
    padding: 20px;
}

.starters {
    display: flex;
    height: 20%;
    background-color: aqua;
}

.meals {
    display: flex;
    height: 20%;
    background-color: blue;
}

.desserts {
    display: flex;
    height: 20%;
    background-color: aquamarine;
}

.restaurant-calltoaction {
    display: flex;
    width: 100%;
    height: 147px;
    background-color: bisque;
}

footer {
    display: flex;
    height: 210px;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 5px;
    background-color: rgb(53, 53, 53);
    text-decoration: none;
}

.footer-title {
    font-family: 'Shrikhand', cursive;
    color: white;
}

.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 80%;
}

li {
    display: flex;
    flex-direction: row;
}

.footer-text {
    display: flex;
    margin: 0;
    padding-left: 10px;
}

.footer-link {
    text-decoration: none;
    color: white;
}